<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="righttriangle" class="com.nbna.diexample.Triangle">
        <property name="typeoftriangle" value="RightAngle"></property>
        <property name="pointA" ref="pointa"></property>
        <property name="pointB" ref="pointb"></property>
        <property name="pointC" ref="pointc"></property>
     </bean>
     
    <bean id="circle" class="com.nbna.diexample.Circle">      
       <!--  <property name="center" ref="pointa"></property> -->       
     </bean>
     
    <bean id="pointa" class="com.nbna.diexample.Point">
        <property name="x" value="0"> </property>
        <property name="y" value="0"> </property>              
    </bean>
    
    <bean id="pointb" class="com.nbna.diexample.Point">
        <property name="x" value="20"> </property>
        <property name="y" value="0"> </property>              
    </bean>
    
    <bean id="pointc" class="com.nbna.diexample.Point">
        <property name="x" value="0"> </property>
        <property name="y" value="20"> </property>              
    </bean>
    
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" /> 
    
</beans>