<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
   <!-- <bean id="parenttriangle" class="com.nbna.diexample.Triangle" abstract="true"> -->
    <bean id="parenttriangle" class="com.nbna.diexample.Triangle">
        <property name="typeoftriangle" value="Parent"></property>
        <property name="points">
        <list>
            <ref bean="pointa"/>            
        </list>
        </property>
     </bean>
     
    <bean id="righttriangle" class="com.nbna.diexample.Triangle">
        <property name="typeoftriangle" value="Parent"></property>
        <property name="points">
        <list>            
            <ref bean="pointb"/>
            <ref bean="pointc"/>
        </list>
        </property>
     </bean>
     
    <bean id="equilateraltriangle" class="com.nbna.diexample.Triangle" parent="parenttriangle">
        <property name="points">
        <list merge="true">            
            <ref bean="pointb"/>
            <ref bean="pointc"/>
        </list>
        </property>
     </bean>
    
     
    <bean id="pointa" class="com.nbna.diexample.Point">
        <property name="x" value="0"> </property>
        <property name="y" value="0"> </property>              
    </bean>
    
    <bean id="pointb" class="com.nbna.diexample.Point">
        <property name="x" value="20"> </property>
        <property name="y" value="0"> </property>              
    </bean>
    
    <bean id="pointc" class="com.nbna.diexample.Point">
        <property name="x" value="0"> </property>
        <property name="y" value="20"> </property>              
    </bean>
</beans>