<?xml version="1.0" encoding="UTF-8"?>

   <beans xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          					  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
          xmlns:context="http://www.springframework.org/schema/context">
           
    
     
    <bean id="pointa" class="com.nbna.diexample.Point">
        <qualifier value="circleRelated"/>
        <property name="x" value="0"> </property>
        <property name="y" value="0"> </property>              
    </bean>
    
    <bean id="pointb" class="com.nbna.diexample.Point">
        <property name="x" value="20"> </property>
        <property name="y" value="0"> </property>              
    </bean>
    
    <bean id="pointc" class="com.nbna.diexample.Point">
        <property name="x" value="0"> </property>
        <property name="y" value="20"> </property>              
    </bean>
    
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>mymessages</value>
            </list>
        </property>
    </bean> 
        
    <context:annotation-config/>
    
    <context:component-scan base-package="com.nbna.diexample"/>
</beans>